# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider 
.idea/
*.sln.iml

# Build output
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Generated/static build files
wwwroot/dist/
wwwroot/build/

# Local development configuration 
**/appsettings.Development.json